<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="username" value="nigeria_tenant_admin"></parameter>
    <parameter name="password" value="TnvLOl54WxR75vylop2A"></parameter>
    <parameter name="path" value="/Users/haceryapici/Desktop/Selenyum/chromedriver"></parameter>
    <test verbose="2" preserve-order="true" name="D:/Project/BasqarTestSuite/src/test/resources">
        <parameter name="name" value="Hacer"></parameter>
        <parameter name="regStart" value="09/12/2000"></parameter>
        <parameter name="regEnd" value="09/12/2005"></parameter>

        <classes>
        <class name="Group2.TestCase2"></class>
<!--    <class name="Group1.TestCase1"></class>-->
<!--            <class name="Group1.TestCase2"></class>-->
<!--            <class name="Group3.TestCase3"></class>-->
<!--            <class name="Group4.TestCase4"></class>-->
        </classes>
    </test>
</suite>